.footer {
    background-color: rgba(21, 118, 191, 0.681);
    text-align: center;
    padding: 10px 0;
    color: white;
    bottom: 0;
    width: 100%;
}
.textoFooter{
    text-decoration-line: underline;
    color: black;
}